body {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

.App-logo {
  width: 300px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.launch-list-wrapper {
  padding: 5px 0px 5px 0px;
  display: flex;
  overflow-x: auto;
  flex-direction: row;
}

.launch-wrapper {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

/* Card Vertical */
.card.vertical {
  flex: 0 0 27% !important;
  max-width: 27%;
  margin-right: 0.5rem;
  letter-spacing: normal;
  margin-bottom: 0px;
  border: 0;
}

.card-body {
  font-weight: 600;
  padding-bottom: 0px;
  background: rgb(245, 245, 245);
}

.card-body h6 {
  text-transform: none;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.card-body span {
  font-weight: 500;
}

.card-title {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
  letter-spacing: 1px;
  color: #fff;
}

.card.vertical .card-img-top {
  padding: 10px 30px 20px 30px;
  max-height: 276px;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.card-header {
  border: 0;
}

.card-header.success {
  background: #026d02;
}

.card-header.failure {
  background: #f00;
}

.card-link {
  color: rgb(0, 89, 255);
}

.card h6 span {
  font-size: normal;
}

.card-footer {
  padding: 0;
  margin: 0;
  border-top: 0;
}

.card.vertical .card-footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-top: 0;
  justify-content: center;
}

.card.vertical .card-footer .btn-row {
  display: flex;
  flex-direction: row;
}

.card.vertical .card-footer .btn-row a {
  flex: auto;
  padding-left: 2px;
  padding-right: 2px;
}

/* width */
.launch-list-wrapper::-webkit-scrollbar {
  height: 15px;
}

/* Track */
.launch-list-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.launch-list-wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.launch-list-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body:after {
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #000000;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform: rotate(-45deg);
}

.card:hover .card-img-top {
  opacity: 1;
  filter: grayscale(0%);
}

.launches {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.launch-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.launch-header .input-group {
  margin: 0;
  padding: 0;
  width: 50%;
}

.launch-header .form-control {
  padding: 0px 10px 0px 10px !important;
  width: 50%;
  height: auto;
  font-size: 1.3rem;
}

.launch-header .title {
  margin-top: auto;
}

h4.loading,
.launch-header .title,
.spinner-border {
  color: #fff;
}

/* btn horizontal */
.horizontal .btn{
  color: #FFFFFF;
}

.horizontal .btn i{
  margin-right: .3rem;
}

/* btn-webcast */
.btn-webcast {
  background: #FF0000;
  margin-right: 1rem;
}

/* btn-article */
.btn-article {
  background: #007BFF;
  margin-right: 1rem;
}
/* btn-wikipedia */
.btn-wikipedia {
  background: #17A2B8;
}

/** GeneralInfo **/

/* Card Horizontal */
.card.horizontal {
  letter-spacing: normal;
  margin-bottom: 1rem;
  border: 0;
}

.card-header.horizontal {
  color: #555;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 3px;
}

.card.horizontal .card-title {
  color: #000000;
  font-size: 2rem;
}

.card-body.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 20px 20px;
}

.card-body.horizontal .left {
  padding-right: 1.5rem;
}

/* Rocket Info */
/* .card-body.horizontal.rocket-info {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
} */

.rocket-desc,
.launchpad-desc,
.general-desc {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.card-body.horizontal .right.rocket-img-wrapper {
  max-width: 35%;
}

.rocket-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.rocket-img-wrapper img {
  margin-bottom: 1rem;
  max-height: 350px;
} 

h5.card-title.rocket-info,
h5.card-title.launchpad-info {
  font-size: 1.5rem !important;
}

.prop-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
  background: #888;
}

.prop-wrapper .title {
  font-size: 16px;
  font-weight: 600;
}

.prop-wrapper .body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table td {
  padding: 0.75rem !important;
}

.card-text {
  color: #000000;
}

.card-text span {
  text-transform: capitalize;
  font-weight: 600;
  color: #3700ff;
}

